.App-header {
  background-color: #00a699;
  padding: 20px;
  margin: 0 0 80px 0;
  color: white;
}

.App-title {
  font-weight: 300;
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

/*- Calendar styles - */
.DayPicker_transitionContainer__verticalScrollable{
  min-height: 500px;
}
.DayPicker_transitionContainer__verticalScrollable .CalendarMonthGrid__vertical_scrollable{
  margin-bottom: 16px;
}
.DateInput .DateInput_input{
  font-size: 14px;
}
.CalendarMonth_table .CalendarDay{
  cursor: default
}
.CalendarMonth_table .CalendarDay.CalendarDay__highlighted_calendar{
  cursor: pointer
}
.CalendarMonthGrid_month__horizontal .CalendarMonth_table .CalendarDay {
  cursor: pointer
}
.CalendarMonth_table .CalendarDay__blocked_calendar, .CalendarMonth_table .CalendarDay__blocked_calendar:active, .CalendarMonth_table .CalendarDay__blocked_calendar:hover{
  background: #ffe8bc;
  border: 1px solid #cacccd;
  color: #484848;
}